<!-- Navigation Bar -->
<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar__logo">
      <a href="/">
        <!-- logo sourced from https://www.svgrepo.com/-->
        <img src="/assets/Icons/glamping-logo.svg" alt="Glampbnb logo" />
      </a>
    </div>
    <div class="navbar__menu">
      <ul class="navbar__menu__list">
        <li class="navbar__list">
          <a href="/" class="<%= content === 'home' ? 'active-page' : '' %>">Home</a>
        </li>
        <li class="navbar__list">
          <a href="/rentals" class="<%= content === 'rentals' ? 'active-page' : '' %>">Rentals</a>
        </li>
        <% if (user) { %>
          <li class="navbar__list">
            <a href="/logout">Logout</a>
          </li>
          <% if (user.role === 'Customer') { %>
            <li class="navbar__list">
              <a href="/cart" class="<%= content === 'cart' ? 'active-page' : '' %>">Welcome, <%= user.fname %></a>
            </li>
          <% } else if (user.role === 'Data Entry Clerk') { %>
            <li class="navbar__list">
              <a href="/rentals/list" class="<%= content === 'clerkDashboard' ? 'active-page' : '' %>">Welcome, <%= user.fname %></a>
            </li>
          <% } %>
        <% } else { %>
          <li class="navbar__list">
            <a href="/signup" class="<%= content === 'signUp' ? 'active-page' : '' %>">Signup</a>
          </li>
          <li class="navbar__list">
            <a href="/login" class="<%= content === 'login' ? 'active-page' : '' %>">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<!-- End of Navigation Bar -->

