<div class="signup-container">
    <div class="centered-content">
      <h1>Edit Rental</h1>
      <form action="/rentals/edit/<%= rental._id %>" method="POST">
        <div class="form-group">
          <label for="headline">Headline</label>
          <input type="text" id="headline" name="headline" value="<%= rental.headline %>" required>
        </div>
        <div class="form-group">
          <label for="numSleeps">Number of Sleeps</label>
          <input type="number" id="numSleeps" name="numSleeps" min="0" max="100" value="<%= rental.numSleeps %>" required>
        </div>
        <div class="form-group">
          <label for="numBedrooms">Number of Bedrooms</label>
          <input type="number" id="numBedrooms" name="numBedrooms" min="0" max="100" value="<%= rental.numBedrooms %>" required>
        </div>
        <div class="form-group">
          <label for="numBathrooms">Number of Bathrooms</label>
          <input type="number" id="numBathrooms" name="numBathrooms" min="0" max="100" value="<%= rental.numBathrooms %>" required>
        </div>
        <div class="form-group">
          <label for="pricePerNight">Price Per Night</label>
          <input type="number" id="pricePerNight" name="pricePerNight" min="0.00" step="0.01" value="<%= rental.pricePerNight %>" required>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="city" name="city" value="<%= rental.city %>" required>
        </div>
        <div class="form-group">
          <label for="province">Province</label>
          <input type="text" id="province" name="province" value="<%= rental.province %>" required>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input type="text" id="imageUrl" name="imageUrl" value="<%= rental.imageUrl %>" required>
        </div>
        <div class="form-group">
          <label for="featuredRental">Featured Rental</label>
          <input type="checkbox" id="featuredRental" name="featuredRental" <%= rental.featuredRental ? 'checked' : '' %>>
        </div>
        <div class="centered-button">
          <button type="submit" class="btn">Update Rental</button>
        </div>
      </form>
    </div>
  </div>
  