<div class="recommended__item">
  <!-- Display rental information dynamically from the passed 'rental' object -->
  <img src="<%= rental.imageUrl %>" alt="<%= rental.headline %>" />
  <!-- logging the url to see if it works -->
  <!-- <p><%= rental.imageUrl %></p> -->
  <h3><%= rental.headline %></h3>
  <p>Sleeps: <%= rental.numSleeps %></p>
  <p>Bedrooms: <%= rental.numBedrooms %></p>
  <p>Bathrooms: <%= rental.numBathrooms %></p>
  <p>Price per night: $<%= rental.pricePerNight.toFixed(2) %></p>
</div>
